<!-- Choose Plan -->
<div class="choosePlan my-5">
    <div class="teamTitle">
      <p class="contentWrap">Start with us today</p>
      <h3 class="headerTitle mb-3">Choose your plan</h3>
      <p class="contentWrap">Vestibulum faucibus neque at lacus tristique eu ultrices ipsum mollis. <br>
        Phasellus venenatis, lacus in malesuada pellentesque</p>
    </div>
    <div class="d-flex justify-content-around text-white fs-3">
      <div class="proPlan bg-purple p-3">
        <h3 class="mb-2">pro</h3>
        <h3 class="mb-2"><b>$200</b>/ Month</h3>
        <p class="mb-3"> For teams that need additional security, control, and support.</p>
        <ul>
          <li>5GB Linux Web Space</li>
          <li>5 MySQL Databases </li>
          <li>Unlimited Email </li>
          <li>250Gb Monthly Transfer </li>
          <li>24/7 Tech Support </li>
          <li>Ad management </li>
          <li>Live chat </li> 
          <li>List segmentation </li> 
          <li>Email marketing </li> 
          <li>Ad retargeting </li> 
          <li>Daily Backups</li> 
        </ul>
        <button class="btn btn-light px-4 py-2">Sign Up Now</button>
      </div>
      <div class="premiumPlan bg-green p-3">
        <h3 class="mb-2">Premium</h3>
        <h3 class="mb-2"><b>$500</b>/ Month</h3>
        <p class="mb-2"> For teams that need additional security, control, and support.</p>
        <ul>
          <li>5GB Linux Web Space</li>
          <li>5 MySQL Databases </li>
          <li>Unlimited Email </li>
          <li>250Gb Monthly Transfer </li>
          <li>24/7 Tech Support </li>
          <li>Ad management </li>
          <li>Live chat </li> 
          <li>List segmentation </li> 
          <li>Email marketing </li> 
          <li>Ad retargeting </li> 
          <li>Daily Backups</li> 
        </ul>
        <button class="btn btn-light px-4 py-2">Sign Up Now</button>
      </div>
      <div class="advancePlan bg-red p-3">
        <h3 class="mb-2">Advance</h3>
        <h3 class="mb-2"><b>$900</b>/ Month</h3>
        <p class="mb-2"> For teams that need additional security, control, and support.</p>
        <ul>
          <li>5GB Linux Web Space</li>
          <li>5 MySQL Databases </li>
          <li>Unlimited Email </li>
          <li>250Gb Monthly Transfer </li>
          <li>24/7 Tech Support </li>
          <li>Ad management </li>
          <li>Live chat </li> 
          <li>List segmentation </li> 
          <li>Email marketing </li> 
          <li>Ad retargeting </li> 
          <li>Daily Backups</li> 
        </ul>
        <button class="btn btn-light px-4 py-2">Sign Up Now</button>
      </div>
    </div>
  </div>
  
  
  <!-- latestNews -->
  <div class="latestNews  mb-5">
    <div class="teamTitle mb-5">
      <p class="contentWrap">Start with us today</p>
      <h3 class="headerTitle mb-3">Our Latest New</h3>
      <p class="contentWrap">Vestibulum faucibus neque at lacus tristique eu ultrices ipsum mollis. <br>
        Phasellus venenatis, lacus in malesuada pellentesque</p>
    </div>
    <div class="d-flex justify-content-around">
      <div class="news-1 w-25">
        <img src="../../../assets/images/news-01.jpg" alt="news1">
        <h3 class="headerTitle my-3">It Really Great Holiday and Enjoy with the Fashion Style</h3>
        <div class="d-flex">
          <img src="../../../assets/images/feedbackProfile.jpg" class="img-responsive" alt="feedback">
          <span class="subMark">Mark Den &nbsp; . &&nbsp; 2021-06-30</span>
        </div>
        <p class="contentWrap">Vestibulum faucibus neque at lacus tristique eu ultrices ipsum mollis. Phasellus venenatis, lacus in malesuada pellentesque, nisl ipsum faucibus...</p>
        <a href="#">Read More</a>
      </div>
      <div class="news-2 w-25">
        <img src="../../../assets/images/news-02.jpg" class="img-responsive" alt="news2">
        <h3 class="headerTitle my-3">This is My Favorite Fashion That i love to do</h3>
        <div class="d-flex">
          <img src="../../../assets/images/feedbackProfile.jpg" alt="feedback">
          <span class="subMark">Mark Den &nbsp; . &nbsp; 2021-06-30</span>
        </div>
        <p class="contentWrap">Vestibulum faucibus neque at lacus tristique eu ultrices ipsum mollis. Phasellus venenatis, lacus in malesuada pellentesque, nisl ipsum faucibus...</p>
        <a href="#">Read More</a>
      </div>
      <div class="news-3 w-25">
        <img src="../../../assets/images/news-03.jpg" class="img-responsive" alt="news3">
        <h3 class="headerTitle my-3">Beautiful nature with simple style but look good</h3>
        <div class="d-flex">
          <img src="../../../assets/images/feedbackProfile.jpg" alt="feedback">
          <span class="subMark">Mark Den &nbsp; . &nbsp; 2021-06-30</span>
        </div>
        <p class="contentWrap">Vestibulum faucibus neque at lacus tristique eu ultrices ipsum mollis. Phasellus venenatis, lacus in malesuada pellentesque, nisl ipsum faucibus...</p>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  