.headerTitle{
    font-size: 20px;
    color:#00326d;
    font-weight: 700;
}
.contentWrap{
    font-size: 16px;
}
.teamTitle{
    text-align: center;
}
.bg-purple{
    background-color:#2b365d;}
.bg-green{
    background-color:#5bb286;}
.bg-red{
    background-color:#ea7055;}
.bg-pink{
    background-color: #f3ece1;
    min-height: 300px;
}
.subMark{
    margin:10vh 0 0;
}
.news-1 > img, .news-2 > img, .news-3 > img {
    height: 230px;
}