.teamTitle{
    text-align: center;
}
.teamMemberImages img{
    height: 350px   ;
}

.headerTitle{
    font-size: 20px;
    color:#00326d;
    font-weight: 700;
}
.contentWrap{
    font-size: 16px;
}