<div class="teamSector my-5">
    <div class="teamTitle">
      <p class="contentWrap">Start with us today</p>
      <h3 class="headerTitle mb-3">Join our teams</h3>
      <p class="contentWrap">Vestibulum faucibus neque at lacus tristique eu ultrices ipsum mollis.<br>
         Phasellus venenatis, lacus in malesuada pellentesque</p>
    </div>
    <div class="d-flex teamMemberImages justify-content-around mb-5">
      <img src="../../../assets/images/team-01.jpg" alt="member1">
      <img src="../../../assets/images/team-02.jpg" alt="member2">
      <img src="../../../assets/images/team-03.jpg" alt="member3">
      <img src="../../../assets/images/team-04.jpg" alt="member4">
    </div>
  </div>
  