<div class="whatCanWeDo my-5">
    <div class="teamTitle">
      <p class="contentWrap">Start with us today</p>
      <h3 class="headerTitle mb-3">What we can do</h3>
      <p class="contentWrap">Vestibulum faucibus neque at lacus tristique eu ultrices ipsum mollis.<br>
         Phasellus venenatis, lacus in malesuada pellentesque</p>
    </div>
  
    <div class="d-flex justify-content-around mb-5">
      <div class="percentageWrap text-center">
        <img src="../../../assets/images/per-1.png" alt="Showcase">
        <h3 class="headerTitle">HubSpot UI</h3>
        <p class="contentWrap">Sediut perspici atesi unde omni istenats.</p>
      </div>
      <div class="percentageWrap text-center">
        <img src="../../../assets/images/per-2.png" alt="Interactive">
        <h3 class="headerTitle">Graphic Design</h3>
        <p class="contentWrap">Sediut perspici atesi unde omni istenats.</p>
      </div>
      <div class="percentageWrap text-center">
        <img src="../../../assets/images/per-3.png" alt="Clean & Modern">
        <h3 class="headerTitle">SEO Optimization</h3>
        <p class="contentWrap">Sediut perspici atesi unde omni istenats.</p>
      </div>
      <div class="percentageWrap text-center">
        <img src="../../../assets/images/per-4.png" alt="Tip & Tutorial">
        <h3 class="headerTitle">HTML & CSS</h3>
        <p class="contentWrap">Sediut perspici atesi unde omni istenats.</p>
      </div>
    </div>
  
    <div class="videoSection mb-5">
      <img src="../../../assets/images/video.jpg" alt="" class="w-100"    >
    </div>
  </div>