$body-bg: #f3f3f3;
$header-color: #fff;
$header-bg: #2c3e50;
$nav-bg: #2c3e50;
$nav-hover-bg: #3e5771;
$nav-color: #fff;
$nav-tabColor: #000;
// buttons
$primary-btn: #32668f;
$secondary-btn: #A9A9A9;
$error-btn: #dc3545;
$success-btn: #28a745;
$warning-btn: #ffc107;
// colors
$primary-color: #32668F;
$error-color: #dc3545;
$success-color: #28a745;
$warning-color: #ffc107;
// break
$break-tab: 992px;